{% extends 'baseback.html.twig' %}

{% block body %}
    <h2>Modifier Playlist</h2>
    {{ form_start(form) }}
       {{ form(form) }} 
        {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}
